
* {
  font-family: 'Russo One', sans-serif;
}
h1 {
  color: #696969;
  background-color: black;
  text-align: center;
}
body {
  background-color: azure;
}
nav {
  text-align: center;
}
.menu {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.aboutme {
  padding: 30px;
  text-align: justify;
  margin-bottom: 2em;
  list-style-type: none;
  border: 1px solid; black;
}
.content {
  padding: 30px;
  text-align: left;
}
.hobbies {
  padding: 30px;
  list-style-type: none;
  margin-bottom: 2em;
}
.LWOO {
  height: 600px;
  transform: rotate(270deg);
  padding-top: 100px;
  padding-left: 40px;
}
.explanation {
  text-align: left;
  border: 1px solid; black;
  padding: 30px;
}
.Motivation {
  text-align: left;
  border: 1px solid; black;
  padding: 30px;
}
.sitemap {
  margin-bottom: 2em;
  border: 1px solid; black;
}
.hoodie {
  height:300px;
}
.qontinent {
  height: 500px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}


.wrapper{
	margin:0 auto;
	width: 370px;
}

.raadje-plaatje{
  margin-top: 20px;
	background-color: #fff;
	border-radius: 20px;
	/* overflow:hidden;	 */
	display:flex;
	justify-content: flex-start;
	/* flex-wrap: wrap; */
}

.img-grid{
	margin-top:20px;
	background-color: #ee5000;
	padding:15px;
	border-radius: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.img--small{
	border: 3px solid #fff;
	margin:3px;
}

.picture{
	border:#413B3B 20px solid;
	border-radius: 20px;
	background-color: #413B3B;
	width:150px;
	height:150px;
}

.message{
	width:130px;
	padding:20px;
	font-size:1.4em;
}
